body {
    margin: 0px;
    background-color: #d6eaed;
    color: #5949c1;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span {
    font-weight: bold;
}
img {
    margin: 10px;
    height:100px;
}

input {
    font-family: 'Courier New', Courier, monospace;  
    color: #5949c1;
    
}

.buttonBuscar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d9d8f3;

}